{"openapi":"3.1.0","info":{"title":"Learning Path Platform","version":"0.0.1","description":"Learning Path Platform"},"servers":[{"url":"https://lpp.home.russfeld.me/"}],"paths":{"/api/":{"get":{"summary":"list API versions","tags":["api"],"responses":{"200":{"description":"the list of API routes","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"version":{"type":"string"},"url":{"type":"string"}}}},"example":[{"version":"1.0","url":"/api/v1/"}]}}}}}},"/auth/bypass":{"get":{"summary":"bypass authentication for testing","description":"Bypasses CAS authentication for testing purposes","tags":["auth"],"parameters":[{"in":"query","name":"token","required":true,"schema":{"type":"string"},"description":"username"}],"responses":{"200":{"description":"success"}}}},"/auth/cas":{"get":{"summary":"CAS authentication","description":"CAS authentication for deployment","tags":["auth"],"responses":{"200":{"description":"success"}}}},"/auth/token":{"get":{"summary":"request JWT","description":"request JWT based on previous authentication","tags":["auth"],"responses":{"200":{"$ref":"#/components/responses/AuthToken"}}}},"/auth/logout":{"get":{"summary":"logout current user","description":"logout current user and end session","tags":["auth"],"responses":{"200":{"description":"success"}}}},"/lti/":{"get":{"summary":"list LTI routes","tags":["lti"],"responses":{"200":{"description":"the list of routes","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"description":{"type":"string"},"url":{"type":"string"}}}},"example":[{"version":"LTI Tool Provider","url":"/lti/provider/"}]}}}}}},"/api/v1/consumers":{"get":{"summary":"consumers list page","description":"Gets the list of all consumers in the application","tags":["consumers"],"security":[{"bearerAuth":["manage_lti"]}],"responses":{"200":{"description":"the list of consumers","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Consumer"}}}}}}},"post":{"summary":"create consumer","tags":["consumers"],"security":[{"bearerAuth":["manage_lti"]}],"requestBody":{"description":"consumer","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Consumer"},"example":{"name":"Example Consumer","lti13":true,"client_id":"1234567890","platform_id":"https://example.com/lti","deployment_id":"example-deployment","keyset_url":"https://example.com/jwks","token_url":"https://example.com/token","auth_url":"https://example.com/auth"}}}},"responses":{"201":{"$ref":"#/components/responses/Success"},"422":{"$ref":"#/components/responses/ValidationError"}}}},"/api/v1/consumers/{id}":{"put":{"summary":"update consumer","tags":["consumers"],"security":[{"bearerAuth":["manage_lti"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"consumer ID"}],"requestBody":{"description":"consumer","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Consumer"},"example":{"name":"Example Consumer","lti13":true,"client_id":"1234567890","platform_id":"https://example.com/lti","deployment_id":"example-deployment","keyset_url":"https://example.com/jwks","token_url":"https://example.com/token","auth_url":"https://example.com/auth"}}}},"responses":{"201":{"$ref":"#/components/responses/Success"},"422":{"$ref":"#/components/responses/ValidationError"}}},"delete":{"summary":"delete consumer","tags":["consumers"],"security":[{"bearerAuth":["manage_lti"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"consumer ID"}],"responses":{"204":{"description":"Consumer deleted successfully"}}}},"/api/v1/courses":{"get":{"summary":"courses list page","description":"Gets the list of all courses in the application","tags":["courses"],"security":[{"bearerAuth":["manage_courses"]}],"responses":{"200":{"description":"the list of courses","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Course"}}}}}}},"post":{"summary":"create course","tags":["courses"],"security":[{"bearerAuth":["manage_courses"]}],"requestBody":{"description":"course","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Course"},"example":{"name":"Course Name","label":"CS 101"}}}},"responses":{"201":{"$ref":"#/components/responses/Success"},"422":{"$ref":"#/components/responses/ValidationError"}}}},"/api/v1/courses/{id}":{"get":{"summary":"get single course","description":"Gets a single course by ID","tags":["courses"],"security":[{"bearerAuth":["manage_courses"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"course ID"}],"responses":{"200":{"description":"a course","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Course"}}}}}},"put":{"summary":"update course","tags":["courses"],"security":[{"bearerAuth":["manage_courses"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"course ID"}],"requestBody":{"description":"course","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Course"},"example":{"name":"Course Name","label":"CS 101"}}}},"responses":{"201":{"$ref":"#/components/responses/Success"},"422":{"$ref":"#/components/responses/ValidationError"}}},"delete":{"summary":"delete course","tags":["courses"],"security":[{"bearerAuth":["manage_courses"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"course ID"}],"responses":{"200":{"$ref":"#/components/responses/Success"}}}},"/api/v1/courses/{id}/link":{"post":{"summary":"link an LMS course to an existing course","tags":["courses"],"security":[{"bearerAuth":["manage_courses"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"course ID"}],"content":{"application/json":{"schema":{"type":"object","required":["destID"],"properties":{"destID":{"type":"integer","description":"ID of the destination course"}}},"example":{"destID":2}}},"responses":{"200":{"$ref":"#/components/responses/Success"},"422":{"$ref":"#/components/responses/ValidationError"}}}},"/api/v1/courses/{id}/users":{"get":{"summary":"get users for a course","tags":["courses"],"security":[{"bearerAuth":["manage_courses"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"course ID"}],"responses":{"200":{"description":"a list of users in the course","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/User"}}}}}}}},"/api/v1/courses/{id}/enroll":{"post":{"summary":"enroll a user in a course","tags":["courses"],"security":[{"bearerAuth":["manage_courses"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"course ID"},{"in":"body","name":"user","required":true,"schema":{"type":"object","properties":{"email":{"type":"string","format":"email","description":"email of the user to enroll"}},"example":{"email":"user@example.com"}}}],"responses":{"201":{"$ref":"#/components/responses/Success"},"422":{"$ref":"#/components/responses/ValidationError"}}}},"/api/v1/courses/{id}/remove":{"post":{"summary":"remove a user from a course","tags":["courses"],"security":[{"bearerAuth":["manage_courses"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"course ID"},{"in":"body","name":"user","required":true,"schema":{"type":"object","properties":{"id":{"type":"string","description":"ID of the user to remove"}},"example":{"id":1}}}],"responses":{"201":{"$ref":"#/components/responses/Success"},"404":{"description":"User not found"}}}},"/api/v1/lessons":{"get":{"summary":"lessons list page","description":"Gets the list of all lessons in the application","tags":["lessons"],"security":[{"bearerAuth":["manage_lessons"]}],"responses":{"200":{"description":"the list of lessons","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Lesson"}}}}}}},"post":{"summary":"create lesson","tags":["lessons"],"security":[{"bearerAuth":["manage_lessons"]}],"requestBody":{"description":"lesson","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Lesson"},"example":{"name":"Lesson Name","topic_id":1,"provider_id":1,"url":"https://example.com/lesson-url"}}}},"responses":{"201":{"$ref":"#/components/responses/Success"},"422":{"$ref":"#/components/responses/ValidationError"}}}},"/api/v1/lessons/{id}":{"put":{"summary":"update lesson","tags":["lessons"],"security":[{"bearerAuth":["manage_lessons"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","description":"lesson ID"}}],"requestBody":{"description":"lesson","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Lesson"},"example":{"name":"Lesson Name","topic_id":1,"provider_id":1,"url":"https://example.com/lesson-url"}}}},"responses":{"200":{"$ref":"#/components/responses/Success"}}},"delete":{"summary":"delete lesson","tags":["lessons"],"security":[{"bearerAuth":["manage_lessons"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"lesson ID"}],"responses":{"204":{"description":"lesson deleted"},"404":{"description":"lesson not found"}}}},"/api/v1/lessons/{id}/form":{"get":{"summary":"lesson form","description":"Gets the LTI form for a lesson","tags":["lessons"],"security":[{"bearerAuth":["manage_lessons"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"lesson ID"}],"responses":{"200":{"description":"the LTI form for the lesson","content":{"application/json":{"schema":null}}}}}},"/api/v1/levels":{"get":{"summary":"levels list page","description":"Gets the full list of levels","tags":["levels"],"security":[{"bearerAuth":["teacher","manage_lessons"]}],"responses":{"200":{"description":"the list of levels","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Level"}}}}}}}},"/api/v1/profile":{"get":{"summary":"current user profile","description":"Gets the current user's profile","tags":["profile"],"security":[{"bearerAuth":null}],"responses":{"200":{"description":"user profile","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/User"}}}}}}},"post":{"summary":"update profile","tags":["profile"],"security":[{"bearerAuth":null}],"requestBody":{"description":"profile","required":true,"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"},"name":{"type":"string"},"given_name":{"type":"string"},"family_name":{"type":"string"},"sync_with_lms":{"type":"boolean"}}},"example":{"name":"Updated Profile","given_name":"Updated","family_name":"Profile","sync_with_lms":true}}}},"responses":{"201":{"$ref":"#/components/responses/Success"},"422":{"$ref":"#/components/responses/ValidationError"}}}},"/api/v1/providers":{"get":{"summary":"providers list page","description":"Gets the list of all providers in the application","tags":["providers"],"security":[{"bearerAuth":["manage_lti","manage_lessons"]}],"responses":{"200":{"description":"the list of providers","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Provider"}}}}}}},"post":{"summary":"create provider","tags":["providers"],"security":[{"bearerAuth":["manage_lti"]}],"requestBody":{"description":"provider","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Provider"},"example":{"name":"Example Provider","lti13":false,"key":"example-provider-key","secret":"example-provider-secret","launch_url":"https://example.com/lti/launch","domain":"example.com","custom":"","use_section":true}}}},"responses":{"201":{"$ref":"#/components/responses/Success"},"422":{"$ref":"#/components/responses/ValidationError"}}}},"/api/v1/providers/{id}":{"put":{"summary":"update provider","tags":["providers"],"security":[{"bearerAuth":["manage_lti"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"provider ID"}],"requestBody":{"description":"provider","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Provider"},"example":{"name":"Example Provider","lti13":false,"key":"example-provider-key","secret":"example-provider-secret","launch_url":"https://example.com/lti/launch","domain":"example.com","custom":"","use_section":true}}}},"responses":{"201":{"$ref":"#/components/responses/Success"},"422":{"$ref":"#/components/responses/ValidationError"}}},"delete":{"summary":"delete provider","tags":["providers"],"security":[{"bearerAuth":["manage_lti"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"provider ID"}],"responses":{"204":{"description":"Provider deleted successfully"}}}},"/api/v1/roles":{"get":{"summary":"roles list page","description":"Gets the list of all roles in the application","tags":["roles"],"security":[{"bearerAuth":["manage_users"]}],"responses":{"200":{"description":"the list of roles","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Role"}}}}}}}},"/api/v1/sections":{"get":{"summary":"sections list page","description":"Gets the list of all sections in the application","tags":["sections"],"security":[{"bearerAuth":["manage_lessons"]}],"responses":{"200":{"description":"the list of sections","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Section"}}}}}}},"post":{"summary":"create section","tags":["sections"],"security":[{"bearerAuth":["manage_lti"]}],"requestBody":{"description":"section","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Section"},"example":{"name":"Section Name","label":"Section Label"}}}},"responses":{"201":{"$ref":"#/components/responses/Success"},"422":{"$ref":"#/components/responses/ValidationError"}}}},"/api/v1/sections/{id}":{"put":{"summary":"update section","tags":["sections"],"security":[{"bearerAuth":["manage_sections"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","description":"section ID"}}],"requestBody":{"description":"section","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Section"},"example":{"name":"Section Name","label":"Section Label"}}}},"responses":{"200":{"$ref":"#/components/responses/Success"}}},"delete":{"summary":"delete section","tags":["sections"],"security":[{"bearerAuth":["manage_sections"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"section ID"}],"responses":{"204":{"description":"section deleted"},"404":{"description":"section not found"}}}},"/api/v1/student/assignments/{id}":{"get":{"summary":"assignment information","description":"Gets information about a particular assignment for a student","tags":["student"],"security":[{"bearerAuth":["student"]}],"parameters":[{"in":"path","name":"id","required":true,"description":"The ID of the assignment","schema":{"type":"string"}}],"responses":{"200":{"description":"The assignment information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Assignment"}}}}}}},"/api/v1/student/assignments/{id}/outcomes/{outcomeid}/lessons/{lessonid}":{"get":{"summary":"lesson information","description":"Gets information about a particular lesson for a student","tags":["student"],"security":[{"bearerAuth":["student"]}],"parameters":[{"in":"path","name":"id","required":true,"description":"The ID of the assignment","schema":{"type":"string"}},{"in":"path","name":"lessonid","required":true,"description":"The ID of the lesson","schema":{"type":"string"}},{"in":"path","name":"lessonid","required":true,"description":"The ID of the lesson","schema":{"type":"string"}}],"responses":{"200":{"description":"The lesson information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Lesson"}}}}}}},"/api/v1/student/assignments/{id}/outcomes/{outcomeid}/lessons/{lessonid}/form":{"get":{"summary":"lesson information","description":"Gets information about a particular lesson for a student","tags":["student"],"security":[{"bearerAuth":["student"]}],"parameters":[{"in":"path","name":"id","required":true,"description":"The ID of the assignment","schema":{"type":"string"}},{"in":"path","name":"lessonid","required":true,"description":"The ID of the lesson","schema":{"type":"string"}},{"in":"path","name":"lessonid","required":true,"description":"The ID of the lesson","schema":{"type":"string"}}],"responses":{"200":{"description":"The lesson information","content":{"application/json":{"schema":null}}}}}},"/api/v1/teacher/courses":{"get":{"summary":"courses list page","description":"Gets the list of all courses for this teacher","tags":["teacher"],"security":[{"bearerAuth":["teacher"]}],"responses":{"200":{"description":"the list of courses","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Course"}}}}}}}},"/api/v1/teacher/courses/{id}/assignments":{"get":{"summary":"courses list page","description":"Gets the list of assignments for this course","tags":["teacher"],"security":[{"bearerAuth":["teacher"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"course ID"}],"responses":{"200":{"description":"the list of assignments","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Assignment"}}}}}}},"post":{"summary":"save assignment","tags":["assignments"],"security":[{"bearerAuth":["teacher"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"course ID"}],"requestBody":{"description":"assignment data","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Assignment"},"example":{"name":"Assignment Name","sync_with_lms":false}}}},"responses":{"200":{"$ref":"#/components/responses/Success"},"422":{"$ref":"#/components/responses/ValidationError"}}}},"/api/v1/teacher/courses/{id}/assignments/{assignid}":{"get":{"summary":"courses list page","description":"Gets the list of outcomes for this assignment","tags":["teacher"],"security":[{"bearerAuth":["teacher"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"course ID"},{"in":"path","name":"assignid","required":true,"schema":{"type":"integer"},"description":"assignment ID"}],"responses":{"200":{"description":"the list of outcomes","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Outcome"}}}}}}},"delete":{"summary":"delete assignment","tags":["assignments"],"security":[{"bearerAuth":["teacher"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"course ID"},{"in":"path","name":"assignid","required":true,"schema":{"type":"integer"},"description":"assignment ID"}],"responses":{"200":{"$ref":"#/components/responses/Success"}}},"put":{"summary":"save assignment","tags":["assignments"],"security":[{"bearerAuth":["teacher"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"course ID"},{"in":"path","name":"assignid","required":true,"schema":{"type":"integer"},"description":"assignment ID"}],"requestBody":{"description":"assignment data","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Assignment"},"example":{"name":"Assignment Name","sync_with_lms":false}}}},"responses":{"200":{"$ref":"#/components/responses/Success"},"422":{"$ref":"#/components/responses/ValidationError"}}}},"/api/v1/teacher/courses/{id}/assignments/{assignid}/link":{"post":{"summary":"link assignment","tags":["assignments"],"security":[{"bearerAuth":["teacher"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"course ID"},{"in":"path","name":"assignid","required":true,"schema":{"type":"integer"},"description":"assignment ID"}],"requestBody":{"description":"destination assignment ID to link to","required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"destAssignId":{"type":"integer","description":"the ID of the destination assignment to link to"}}},"example":{"destAssignId":123}}}},"responses":{"200":{"$ref":"#/components/responses/Success"},"422":{"$ref":"#/components/responses/ValidationError"}}}},"/api/v1/teacher/courses/{id}/assignments/{assignid}/outcomes":{"post":{"summary":"add new outcome","description":"add a new outcome to an assignment","tags":["teacher"],"security":[{"bearerAuth":["teacher"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"course ID"},{"in":"path","name":"assignid","required":true,"schema":{"type":"integer"},"description":"assignment ID"}],"requestBody":{"description":"new outcome","required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"topicid":{"type":"integer","description":"the id of the topic"},"levelid":{"type":"integer","description":"the id of the level"}}},"example":{"topicid":1,"levelid":1}}}},"responses":{"201":{"$ref":"#/components/responses/Success"},"422":{"$ref":"#/components/responses/ValidationError"}}}},"/api/v1/teacher/courses/{id}/assignments/{assignid}/outcomes/{outcomeid}":{"delete":{"summary":"delete outcome","tags":["assignments"],"security":[{"bearerAuth":["teacher"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"course ID"},{"in":"path","name":"assignid","required":true,"schema":{"type":"integer"},"description":"assignment ID"},{"in":"path","name":"outcomeid","required":true,"schema":{"type":"integer"},"description":"outcome ID"}],"responses":{"200":{"$ref":"#/components/responses/Success"},"422":{"$ref":"#/components/responses/ValidationError"}}}},"/api/v1/teacher/courses/{id}/users":{"get":{"summary":"get users in a course","description":"Gets the list of users in a course","tags":["teacher"],"security":[{"bearerAuth":["teacher"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"course ID"}],"responses":{"200":{"description":"the list of users in the course","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserCourse"}}}}}}}},"/api/v1/teacher/courses/{id}/users/{userid}":{"delete":{"summary":"delete user from course","tags":["teacher"],"security":[{"bearerAuth":["teacher"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"course ID"},{"in":"path","name":"userid","required":true,"schema":{"type":"integer"},"description":"user ID"}],"responses":{"200":{"$ref":"#/components/responses/Success"},"422":{"$ref":"#/components/responses/ValidationError"}}}},"/api/v1/teacher/courses/{id}/grades":{"get":{"summary":"get course grades","description":"Gets the course grades for a course","tags":["teacher"],"security":[{"bearerAuth":["teacher"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"course ID"}],"responses":{"200":{"description":"the course grades","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/Grade"}}}}}}}},"/api/v1/terms":{"get":{"summary":"terms list page","description":"Gets the list of all terms in the application","tags":["terms"],"security":[{"bearerAuth":["manage_lti"]}],"responses":{"200":{"description":"the list of terms","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Term"}}}}}}},"post":{"summary":"create term","tags":["terms"],"security":[{"bearerAuth":["manage_lti"]}],"requestBody":{"description":"term","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Term"},"example":{"name":"Term Name","label":"Term Label"}}}},"responses":{"201":{"$ref":"#/components/responses/Success"},"422":{"$ref":"#/components/responses/ValidationError"}}}},"/api/v1/terms/{id}":{"put":{"summary":"update term","tags":["terms"],"security":[{"bearerAuth":["manage_terms"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","description":"term ID"}}],"requestBody":{"description":"term","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Term"},"example":{"name":"Term Name","label":"Term Label"}}}},"responses":{"200":{"$ref":"#/components/responses/Success"}}},"delete":{"summary":"delete term","tags":["terms"],"security":[{"bearerAuth":["manage_terms"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"term ID"}],"responses":{"204":{"description":"term deleted"},"404":{"description":"term not found"}}}},"/api/v1/topics":{"get":{"summary":"topics list page","description":"Gets the full list of topics","tags":["topics"],"security":[{"bearerAuth":["teacher"]}],"responses":{"200":{"description":"the list of topics","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Topic"}}}}}}}},"/api/v1/users":{"get":{"summary":"users list page","description":"Gets the list of all users in the application","tags":["users"],"security":[{"bearerAuth":["manage_users"]}],"responses":{"200":{"description":"the list of users","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/User"}}}}}}},"post":{"summary":"create user","tags":["users"],"security":[{"bearerAuth":["manage_users"]}],"requestBody":{"description":"user","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"},"example":{"username":"newuser","email":"newuser@localhost.local","roles":[{"id":1}]}}}},"responses":{"201":{"$ref":"#/components/responses/Success"},"422":{"$ref":"#/components/responses/ValidationError"}}}},"/api/v1/users/{id}":{"get":{"summary":"get single user","description":"Gets a single user by ID","tags":["users"],"security":[{"bearerAuth":["manage_users"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"user ID"}],"responses":{"200":{"description":"a user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}}}},"put":{"summary":"update user","tags":["users"],"security":[{"bearerAuth":["manage_users"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"user ID"}],"requestBody":{"description":"user","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"},"example":{"username":"updateduser","email":"updateduser@localhost.local","roles":[{"id":1}]}}}},"responses":{"201":{"$ref":"#/components/responses/Success"},"422":{"$ref":"#/components/responses/ValidationError"}}},"delete":{"summary":"delete user","tags":["users"],"security":[{"bearerAuth":["manage_users"]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer"},"description":"user ID"}],"responses":{"200":{"$ref":"#/components/responses/Success"}}}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"responses":{"AuthToken":{"description":"authentication success","content":{"application/json":{"schema":{"type":"object","required":["token"],"properties":{"token":{"type":"string","description":"a JWT for the user"}},"example":{"token":"abcdefg12345"}}}}},"Success":{"description":"success","content":{"application/json":{"schema":{"type":"object","required":["message","id"],"properties":{"message":{"type":"string","description":"the description of the successful operation"},"id":{"type":"integer","description":"the id of the saved or created item"}},"example":{"message":"User successfully saved!"}}}}},"ValidationError":{"description":"model validation error","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string","description":"the description of the error"},"errors":{"type":"array","items":{"type":"object","required":["attribute","message"],"properties":{"attribute":{"type":"string","description":"the attribute that caused the error"},"message":{"type":"string","description":"the error associated with that attribute"}}}}},"example":{"error":"Validation Error","errors":[{"attribute":"username","message":"username must be unique"}]}}}}}},"schemas":{"Assignment":{"type":"object","required":["name","course_id"],"properties":{"id":{"type":"integer","description":"autogenerated id"},"name":{"type":"string","description":"full name of the assignment"},"key":{"type":"string","description":"unique key for the assignment"},"lms_assign_id":{"type":"string","description":"the LMS ID of the assignment from LTI"},"course_id":{"type":"integer","description":"the ID of the associated course"},"sync_with_lms":{"type":"boolean","description":"enable to sync assignment data with LMS"},"createdAt":{"type":"string","format":"date-time","description":"when the record was created"},"updatedAt":{"type":"string","format":"date-time","description":"when the record was last updated"}},"example":{"id":1,"name":"Programming Fundamentals","key":"thisisanassignmentkey","label":"CS 101","lms_assign_id":"superlongstringhere","course_id":1,"sync_with_lms":true,"createdAt":"2025-02-04T15:36:32.000Z","updatedAt":"2025-02-04T15:36:32.000Z"}},"Course":{"type":"object","required":["name","label"],"properties":{"id":{"type":"integer","description":"autogenerated id"},"name":{"type":"string","description":"full name of the course"},"label":{"type":"string","description":"the short label of the course"},"lms_course_id":{"type":"string","description":"the LMS ID of the course from LTI"},"sync_with_lms":{"type":"boolean","description":"enable to sync course data with LMS"},"session_id":{"type":"integer","description":"the associated LPP section"},"consumer":{"type":"object","properties":{"id":{"type":"number"},"name":{"type":"string"}}},"createdAt":{"type":"string","format":"date-time","description":"when the record was created"},"updatedAt":{"type":"string","format":"date-time","description":"when the record was last updated"}},"example":{"id":1,"name":"Programming Fundamentals","label":"CS 101","lms_course_id":"superlongstringhere","consumer":{"id":1,"name":"ALT+CS Canvas"},"sync_with_lms":true,"createdAt":"2025-02-04T15:36:32.000Z","updatedAt":"2025-02-04T15:36:32.000Z"}},"UserCourse":{"type":"object","required":["user_id","course_id"],"properties":{"user_id":{"type":"integer","description":"the ID of the user"},"course_id":{"type":"integer","description":"the ID of the course"},"manager":{"type":"boolean","description":"true if the user is a manager of the course"},"user":{"type":"object","$ref":"#/components/schemas/User"}}},"Grade":{"type":"object","properties":{"id":{"type":"integer","description":"autogenerated id"},"user_id":{"type":"integer","description":"the ID of the user"},"assignment_id":{"type":"integer","description":"the ID of the assignment"},"score":{"type":"number","format":"float","description":"the score for the grade"},"createdAt":{"type":"string","format":"date-time","description":"when the record was created"},"updatedAt":{"type":"string","format":"date-time","description":"when the record was last updated"}},"example":{"id":1,"user_id":1,"assignment_id":1,"score":0.95,"createdAt":"2025-02-04T15:36:32.000Z","updatedAt":"2025-02-04T15:36:32.000Z"}},"Lesson":{"type":"object","required":["name"],"properties":{"id":{"type":"integer","description":"autogenerated id"},"name":{"type":"string","description":"full name of the lesson"},"key":{"type":"string","description":"unique key for the lesson"},"url":{"type":"string","description":"the default URL for the lesson"},"topic":{"type":"object","properties":{"id":{"type":"integer","description":"the ID of the topic"},"name":{"type":"string","description":"the name of the topic"}}},"section":{"type":"object","properties":{"id":{"type":"integer","description":"the ID of the section"},"name":{"type":"string","description":"the name of the section"}}},"createdAt":{"type":"string","format":"date-time","description":"when the record was created"},"updatedAt":{"type":"string","format":"date-time","description":"when the record was last updated"}},"example":{"id":1,"name":"Introduction to Variables","key":"intro-to-variables","url":"https://example.com/intro-to-variables","topic":{"id":1,"name":"Programming Basics"},"section":{"id":1,"name":"Prairielearn Fall 2023"},"createdAt":"2025-02-04T15:36:32.000Z","updatedAt":"2025-02-04T15:36:32.000Z"}},"Level":{"type":"object","required":["name"],"properties":{"id":{"type":"integer","description":"autogenerated id"},"name":{"type":"string","description":"full name of the level"},"createdAt":{"type":"string","format":"date-time","description":"when the record was created"},"updatedAt":{"type":"string","format":"date-time","description":"when the record was last updated"}},"example":{"id":1,"name":"Variables","createdAt":"2025-02-04T15:36:32.000Z","updatedAt":"2025-02-04T15:36:32.000Z"}},"ProviderGrade":{"type":"object","properties":{"id":{"type":"integer","description":"autogenerated id"},"section_id":{"type":"integer","description":"the ID of the section"},"lesson_id":{"type":"integer","description":"the ID of the lesson"},"user_id":{"type":"integer","description":"the ID of the user"},"assignment_id":{"type":"integer","description":"the ID of the assignment"},"score":{"type":"number","format":"float","description":"the score for the grade"},"current":{"type":"boolean","description":"whether this is the current grade"},"createdAt":{"type":"string","format":"date-time","description":"when the record was created"},"updatedAt":{"type":"string","format":"date-time","description":"when the record was last updated"}},"example":{"id":1,"section_id":1,"lesson_id":1,"user_id":1,"assignment_id":1,"score":0.95,"current":true,"createdAt":"2025-02-04T15:36:32.000Z","updatedAt":"2025-02-04T15:36:32.000Z"}},"Role":{"type":"object","required":["role"],"properties":{"id":{"type":"integer","description":"autogenerated id"},"role":{"type":"string","description":"name of the role"},"createdAt":{"type":"string","format":"date-time","description":"when the record was created"},"updatedAt":{"type":"string","format":"date-time","description":"when the record was last updated"}},"example":{"id":1,"role":"manage_users","createdAt":"2025-02-04T15:36:32.000Z","updatedAt":"2025-02-04T15:36:32.000Z"}},"Section":{"type":"object","required":["name"],"properties":{"id":{"type":"integer","description":"autogenerated id"},"name":{"type":"string","description":"full name of the section"},"custom":{"type":"string","description":"custom LTI parameters"},"label":{"type":"string","description":"label for the section"},"key":{"type":"string","unique":true,"description":"unique key for the section"},"provider_id":{"type":"integer","description":"the ID of the provider"},"term_id":{"type":"integer","description":"the ID of the term"},"createdAt":{"type":"string","format":"date-time","description":"when the record was created"},"updatedAt":{"type":"string","format":"date-time","description":"when the record was last updated"}},"example":{"id":1,"name":"Paririelearn Fall 2023","key":"prairielearn-fall-2023","custom":"{\"custom_param\": \"value\"}","provider_id":1,"term_id":1,"label":"PL F23","createdAt":"2025-02-04T15:36:32.000Z","updatedAt":"2025-02-04T15:36:32.000Z"}},"Term":{"type":"object","required":["name","label"],"properties":{"id":{"type":"integer","description":"autogenerated id"},"name":{"type":"string","description":"full name of the term"},"label":{"type":"string","description":"the short label of the term"},"createdAt":{"type":"string","format":"date-time","description":"when the record was created"},"updatedAt":{"type":"string","format":"date-time","description":"when the record was last updated"}},"example":{"id":1,"name":"Fall 2023","label":"Fall 2023","createdAt":"2023-08-01T00:00:00Z","updatedAt":"2023-08-01T00:00:00Z"}},"Topic":{"type":"object","required":["name"],"properties":{"id":{"type":"integer","description":"autogenerated id"},"name":{"type":"string","description":"full name of the topic"},"createdAt":{"type":"string","format":"date-time","description":"when the record was created"},"updatedAt":{"type":"string","format":"date-time","description":"when the record was last updated"}},"example":{"id":1,"name":"Variables","createdAt":"2025-02-04T15:36:32.000Z","updatedAt":"2025-02-04T15:36:32.000Z"}},"User":{"type":"object","required":["username","email","name"],"properties":{"id":{"type":"integer","description":"autogenerated id"},"username":{"type":"string","description":"username for the user"},"email":{"type":"string","format":"email","description":"the email for the user"},"name":{"type":"string","description":"the full name of the user"},"key":{"type":"string","description":"a unique key for the user"},"given_name":{"type":"string","description":"the given name of the user"},"family_name":{"type":"string","description":"the family name of the user"},"image":{"type":"string","format":"url","description":"the profile image of the user"},"sync_with_lms":{"type":"boolean","description":"enable to sync profile data with LMS on LTI launch"},"createdAt":{"type":"string","format":"date-time","description":"when the record was created"},"updatedAt":{"type":"string","format":"date-time","description":"when the record was last updated"},"roles":{"type":"array","items":{"$ref":"#/components/schemas/Role"}}},"example":{"id":1,"username":"admin","email":"admin@localhost.local","name":"Admin User","given_name":"Admin","family_name":"User","image":"https://placehold.co/64x64","sync_with_lms":true,"createdAt":"2025-02-04T15:36:32.000Z","updatedAt":"2025-02-04T15:36:32.000Z","roles":[{"id":1,"role":"manage_users"},{"id":2,"role":"manage_documents"},{"id":4,"role":"manage_communities"}]}}}},"tags":[{"name":"api","description":"API routes"},{"name":"auth","description":"Authentication Routes"},{"name":"lti","description":"LTI routes"},{"name":"consumers","description":"Consumers Routes"},{"name":"courses","description":"Courses Routes"},{"name":"lessons","description":"Lessons Routes"},{"name":"levels","description":"Levels Routes"},{"name":"profile","description":"Profile Routes"},{"name":"providers","description":"Providers Routes"},{"name":"roles","description":"Roles Routes"},{"name":"sections","description":"Sections Routes"},{"name":"student","description":"Student Routes"},{"name":"teacher","description":"Teacher Routes"},{"name":"terms","description":"Terms Routes"},{"name":"topics","description":"Topics Routes"},{"name":"users","description":"Users Routes"}]}