<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <main>
      <h1>LTI Toolkit Example</h1>
      <h2>Gradebook</h2>
      {% for courseid, course in courses %}
        <h3>Course: {{ course.name }} ({{ course.id }})</h3>
        {% for assignmentid, assignment in course.assignments %}
          <h4>Assignment: {{ assignment.name }} ({{ assignment.id }}) on {{ assignment.provider.name }}</h4>
          {% for userid, user in assignment.users %}
            <h5>User: {{ user.name }} - {{ user.email }} ({{ user.id }})</h5>
            <p>Grades: </p>
            <ul>
            {% for gradeID, grade in user.grades %}
              <li>{{ gradeID }} - {{ grade.score }}</li>
            {% else %}
              <li><b>No grades found!</b></li>
            {% endfor %}
            </ul>
          {% else %}
            <h5>No users found!</h5>
          {% endfor %}
        {% else %}
          <h4>No assignments found!</h4>
        {% endfor %}
      {% else %}
        <h3>No courses found!</h3>
      {% endfor %}
    </main>
  </body>
</html>