<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <main>
        <h1>LTI Toolkit Example</h1>
        {% if message %}
        <p style="color: green">{{ message }}
        {% endif %}
        {% if error %}
        <p style="color: red">{{ error }}
        {% endif %}
        <p><a href="/grades">View the gradebook</a></p>
        <hr />
        <p>Select or configure an LTI Tool Provider to perform an LTI Launch</p>
        <h2>LTI Tool Providers</h2>
        <ul>
        {% for provider in providers %}
          <li><a href="/provider/{{ provider.id }}">{{ provider.name }}</a></li>
        {% endfor %}
        </ul>
        <hr />
        <h2>Add LTI 1.3 Tool Provider via Dynamic Registration</h2>
        <form method="POST" action="/configure/dynamic">
          <label for="url">LTI 1.3 Registration URL</label><br>
          <input type="text" id="url" name="url" size="50">
          <br><br>
          <input type="submit" value="Submit">
        </form>
        <hr />
        <h2>Add LTI 1.0 Tool Provider via XML</h2>
        <form method="POST" action="/configure/xml">
          <label for="url">LTI 1.0 Configuration XML URL</label><br>
          <input type="text" id="url" name="url" size="50">
          <br>
          <label for="xml">LTI 1.0 Configuration XML</label><br>
          <textarea id="xml" name="xml" rows="5" cols="80" placeholder="XML here"></textarea>
          <br>
          <label for="key">LTI 1.0 Shared Key</label><br>
          <input type="text" id="key" name="key" size="50">
          <br>
          <label for="secret">LTI 1.0 Shared Secret</label><br>
          <input type="text" id="secret" name="secret" size="50">
          <br><br>
          <input type="submit" value="Submit">
        </form>
        <hr />
        <h2>Manually Add LTI Tool Provider</h2>
        <form method="POST" action="/configure">
          <label for="name">Provider Name</label><br>
          <input type="text" id="name" name="name" size="50">
          <br>
          <label for="launch_url">LTI Launch URL</label><br>
          <input type="url" id="launch_url" name="launch_url" size="50">
          <br>
          <label for="domain">LTI Tool Provider Domain</label><br>
          <input type="text" id="domain" name="domain" size="50">
          <br>
          <label for="custom">LTI Custom Values in JSON format (e.g. "key1": "value1", "key2": "value2")</label><br>
          <input type="text" id="custom" name="custom" size="50">
          <br>
          <label for="use_section">Use Sections?</label>
          <input type="checkbox" id="use_section" name="use_section" value="true">
          <br><br>
          <label for="key">LTI 1.0 Shared Key</label><br>
          <input type="text" id="key" name="key" size="50">
          <br>
          <label for="secret">LTI 1.0 Shared Secret</label><br>
          <input type="text" id="secret" name="secret" size="50">
          <br>
          <hr>
          <label for="lti13">LTI 1.3 Enabled</label>
          <input type="checkbox" id="lti13" name="lti13" value="true">
          <br><br>
          <label for="secret">LTI 1.3 JWKS Url</label><br>
          <input type="text" id="keyset_url" name="keyset_url" size="50">
          <br>
          <label for="secret">LTI 1.3 Auth Url</label><br>
          <input type="text" id="auth_url" name="auth_url" size="50">
          <br>
          <label for="secret">LTI 1.3 Redirect Urls (Comma-Separated List)</label><br>
          <input type="text" id="redirect_urls" name="redirect_urls" size="50">
          <br>
          <label for="secret">LTI 1.3 Scopes (Unsupported)</label><br>
          <input type="text" id="scopes" name="scopes" size="50">
          <br>
          <label for="secret">LTI 1.3 Claims (Unsupported)</label><br>
          <input type="text" id="claims" name="claims" size="50">
          <br><br>
          <input type="submit" value="Submit">
        </form>
    </main>
  </body>
</html>