<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <main>
        <h1>LTI Tool Provider</h1>
        {% if message %}
        <p style="color: green">{{ message }}
        {% endif %}
        {% if error %}
        <p style="color: red">{{ error }}
        {% endif %}
        <h2>{{ provider.name }}</h2>
        <h3>Settings</h3>
        <ul>
          <li><b>Launch URL:</b> {{ provider.launch_url }}</li>
          <li><b>Key:</b> {{ provider.key }}</li>
          <li><b>Secret:</b> {{ provider.secret }}</li>
        </ul>
        <hr />
        <h3>Configure Launch</h3>
        <p>Provide information to configure an LTI 1.0 Launch Request</p>
        <form method="POST" target="_blank" action="/provider/{{ provider.id }}/launch">
          <h4>Context (Course)</h4>
          <label for="context_key">Context Key</label><br>
          <input type="text" id="context_key" name="context_key" value="contextkey" size="50">
          <br>
          <label for="context_label">Context Label</label><br>
          <input type="text" id="context_label" name="context_label" value="LTI 101" size="50">
          <br>
          <label for="context_name">Context Name</label><br>
          <input type="text" id="context_name" name="context_name" value="LTI Demo Course" size="50">
          <br>
          <h4>Resource (Assignment)</h4>
          <label for="resource_key">Resource Key</label><br>
          <input type="text" id="resource_key" name="resource_key" value="resourcekey" size="50">
          <br>
          <label for="resource_name">Resource Name</label><br>
          <input type="text" id="resource_label" name="resource_name" value="LTI Demo Resource" size="50">
          <br>
          <h4>User</h4>
          <label for="user_key">User Key</label><br>
          <input type="text" id="user_key" name="user_key" value="userkey" size="50">
          <br>
          <label for="user_email">User Email</label><br>
          <input type="email" id="user_email" name="user_email" value="user@domain.tld" size="50">
          <br>
          <label for="user_given_name">User Given Name</label><br>
          <input type="text" id="user_given_name" name="user_given_name" value="GivenName" size="50">
          <br>
          <label for="user_family_name">User Family Name</label><br>
          <input type="text" id="user_family_name" name="user_family_name" value="FamilyName" size="50">
          <br>
          <h4>Launch Type</h4>
          <label for="manager">Instructor?</label>
          <input type="checkbox" id="manager" name="manager" value="true">
          <h4>Gradebook</h4>
          <label for="gradebook_id">Gradebook Key</label><br>
          <input type="text" id="gradebook_id" name="gradebook_id" value="gradebookkey" size="50">
          <br><br>
          <input type="submit" value="Submit">
        <hr />
        <details>
          <summary>LTI Debugging Information</summary>
          <p><b>LTI Provider</b></p>
          <pre>
{{ provider | dump(2) | safe }}
          </pre>
        </details>
    </main>
  </body>
</html>