services:
  lti-toolkit:
    build: 
      context: .
      dockerfile: Dockerfile

    volumes:
      - ../..:/workspaces:cached
      
    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity

    # Networks
    networks:
      # External Network
      - traefik

    # Container Labels
    labels:
      # +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      # Traefik Labels - see https://doc.traefik.io/traefik/routing/providers/docker/
      # Traefik Enable
      - "traefik.enable=true"
      # Docker Network
      - "traefik.docker.network=traefik"
      # Routing Rule
      - "traefik.http.routers.ltidemo.rule=Host(`ltidemo.home.russfeld.me`)"
      # Change Port
      - "traefik.http.services.ltidemo.loadbalancer.server.port=3000"
      # Enable TLS
      - "traefik.http.routers.ltidemo.tls=true"
      # TLS Certificate Resolver
      - "traefik.http.routers.ltidemo.tls.certresolver=letsencrypt"
      # +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    # Use "forwardPorts" in **devcontainer.json** to forward an app port locally. 
    # (Adding the "ports" property to this file will not forward from a Codespace.)

networks:
  traefik:
    name: traefik
    external: true