<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <main>
        <h1>LTI Toolkit Example - Admin View</h1>
        {% if message %}
        <p style="color: green">{{ message }}
        {% endif %}
        {% if error %}
        <p style="color: red">{{ error }}
        {% endif %}
        <h2>Available LTI Tool Consumers</h2>
        <ul>
        {% for a_consumer in consumers %}
          <li><a href="consumer/{{ a_consumer.id }}">{{ a_consumer.name }}</a></li>
        {% else %}
          No consumers found!
        {% endfor %}
        </ul>
        <h2>LTI 1.3 Dynamic Registration</h2>

        <h3>Step 1 - Add LTI 1.3 Application to Canvas</h3>
        <p>This requires administrator access in Canvas. Go to the Admin panel for the account used and find the Developer Keys page, then add a new LTI Registration.<p>
        <ul>
          <li><b>Registration URL</b>: <pre style="display: inline">{{ domain }}/lti/provider/register</pre></li>
        </ul>
        <img src="/images/lti13dynamic1.png" style="border:1px solid black" />
        <p>Once registration is complete, click "Enable and Close"</p>
        <img src="/images/lti13dynamic.png" style="border:1px solid black" />

        <h3>Step 2 - Activate Application</h3>
        <p>Once installed, click the link to View in Canvas Apps, then click Edit and choose Available, then click Save. This will allow it to be used in Canvas courses without installation.</p>
        <img src="/images/lti13dynamic2.png" style="border:1px solid black" />

        <h3>Step 3 - Configure Assignment</h3>
        <p>In Canvas, configure an LTI assignment as usual.</p>
        <ul>
          <li><b>Launch URL: </b> <pre style="display: inline">{{ domain }}/lti/provider/launch</pre></li>
        </ul>
        <img src="/images/lti10assign.png" style="border:1px solid black" />

        <hr />

                <h2>Manual LTI Consumer Configuration</h2>
                <p>This will update the Autogenerated LMS with LTI 1.3 Settings.</p>
        <form method="POST" action="/admin/config">
          <label for="name">Consumer Name</label><br>
          <input type="text" id="name" name="name" value="{{ consumer.name }}" disabled size="50">
          <br>
          <label for="lti13">LTI 1.3 Enabled</label>
          {% if consumer.lti13 %}
          <input type="checkbox" id="lti13" name="lti13" value="true" checked disabled>
          {% else %}
          <input type="checkbox" id="lti13" name="lti13" value="true" disabled>
          {% endif %}
          <hr />
          <label for="client_id">LTI 1.3 Client ID (e.g. "10000000000001")</label><br>
          <input type="text" id="client_id" name="client_id" value="{{ consumer.client_id | d(10000000000001, true) }}" size="50">
          <br>
          <label for="platform_id">LTI 1.3 Platform ID (e.g. "{{ lmsDomain }}")</label><br>
          <input type="url" id="platform_id" name="platform_id" value="{{ consumer.platform_id | d(lmsDomain, true) }}" size="50">
          <br>
          <label for="deployment_id">LTI 1.3 Deployment ID</label><br>
          <input type="text" id="deployment_id" name="deployment_id" size="50">
          <br>
          <label for="keyset_url">LTI 1.3 JWKS Keyset URL (e.g. "{{ lmsDomain }}/api/lti/security/jwks")</label><br>
          <input type="url" id="keyset_url" name="keyset_url" value="{{ consumer.keyset_url | d(lmsDomain + '/api/lti/security/jwks', true) }}" size="50">
          <br>
          <label for="token_url">LTI 1.3 Token URL (e.g. "{{ lmsDomain }}/login/oauth2/token")</label><br>
          <input type="url" id="token_url" name="token_url" value="{{ consumer.token_url | d(lmsDomain + '/login/oauth2/token', true) }}" size="50">
          <br>
          <label for="auth_url">LTI 1.3 Auth URL (e.g. "{{ lmsDomain }}/api/lti/authorize_redirect")</label><br>
          <input type="url" id="auth_url" name="auth_url" value="{{ consumer.auth_url | d(lmsDomain + '/api/lti/authorize_redirect', true) }}" size="50">
          <br><br>
          <input type="submit" value="Submit">
        </form>
        <hr />

        <h2>LTI 1.3 Manual Configuration Steps</h2>

        <h3>Step 1 - Add LTI Application to Canvas</h3>
        <p>This requires administrator access in Canvas. Go to the Admin panel for the account used and find the Developer Keys page, then add a new LTI Key.<p>
        <ul>
          <li><b>Redirect URIs</b>: <pre style="display: inline">{{ domain }}/lti/provider/launch</pre></li>
          <li><b>Target Link URI</b>: <pre style="display: inline">{{ domain }}/lti/provider/launch</pre></li>
          <li><b>OpenID Connect Initiation Url</b>:<pre style="display: inline"> {{ domain }}/lti/provider/login</pre></li>
          <li><b>JWK Method</b>: Public JWK URL</li>
          <li><b>Public JWK URL</b>: <pre style="display: inline">{{ domain }}/lti/provider/jwks</pre></li>
        </ul>
        <img src="/images/lti13admin1.png" style="border:1px solid black" />
        <p>At a minimum, the "Can create and update submission results for assignments associated with the tool" LTI Advantage Service must be enabled to allow grade passback.</p>
        <img src="/images/lti13admin2.png" style="border:1px solid black" />
        <p>Privacy Level may be set to any value. "Public" provides all user data, "Private" hides most user data.</p>
        <img src="/images/lti13admin3.png" style="border:1px solid black" />
        <p>Once the key is created, make sure it is enabled and note the Client ID provided (e.g. "10000000000004")</p>
        <img src="/images/lti13admin4.png" style="border:1px solid black" />

        <p>Once saved, make sure the LTI application is enabled.</p>
        
        <h3>Step 2 - Add or Activate Application</h3>
        <p>The application can either be activated globally for one or more courses, or must be installed manually into individual courses. Global activation is preferred since it only has to be configured once.</p>

        <h4>Step 2A - Activate Application</h4>
        <p>Once installed, click the link to View in Canvas Apps, then click Edit and choose Available, then click Save. This will allow it to be used in Canvas courses without installation.</p>
        <img src="/images/lti13dynamic2.png" style="border:1px solid black" />
        <p>The Deployment ID can be found on this page as well. This will be needed in the next step.</p>
        <img src="/images/lti13dynamic3.png" style="border:1px solid black" />

        <h4>Step 2B - Add LTI Application in Course</h4>
        <p>Alternatively, the teacher of the course must add the LTI application to the course. This can be found in the Settings of the course on the Apps tab. Click the button to add a new application, select "By Client ID" and enter the Client ID from the previous step.</p>
        <img src="/images/lti13course1.png" style="border:1px solid black" />
        <p>Once added, click the menu next to the application to view the Deployment ID. This will be needed in the next step.</p>
        <img src="/images/lti13course2.png" style="border:1px solid black" />
        
        <h3>Step 3 - Configure LTI 1.3 Settings in LTI Demo Application</h3>
        <p>On the top of this page in the LTI Demo Application, enter the settings for your LMS using information provided above. Default URLs are shown for the Canvas LMS hosted at the URL provided in the environment file.</p>
        <ul>
          <li><b>LTI 1.3 Client ID:</b> From Step 1 (e.g. "10000000000004")</li>
          <li><b>LTI 1.3 Platform ID:</b> Usually the URL of the LMS</li>
          <li><b>LTI 1.3 Deployment ID:</b> From Step 2</li>
          <li><b>LTI 1.3 JWKS Keyset URL:</b> For Canvas, /api/lti/security/jwks</li>
          <li><b>LTI 1.3 Token URL:</b> For Canvas, /login/oauth2/token</li>
          <li><b>LTI 1.3 Auth URL:</b> For Canvas, /api/lti/authorize_redirect</li>
        </ul>
        <img src="/images/lti13app1.png" style="border:1px solid black" />
        
        <h3>Step 4 - Configure Assignment</h3>
        <p>In Canvas, configure an LTI assignment as usual.</p>
        <ul>
          <li><b>Launch URL: </b> <pre style="display: inline">{{ domain }}/lti/provider/launch</pre></li>
        </ul>
        <img src="/images/lti10assign.png" style="border:1px solid black" />
    </main>
  </body>
</html>